config.py
/__pycache__
/locales/__pycache__
locales/__pycache__/i18n.cpython-313.pyc
/core/__pycache__
users.json
users.json
core/__pycache__/formatters.cpython-313.pyc
users.json
/core/__pycache__
/handlers/__pycache__
users.json
